<div class="container">
    <h1>Calculadora de Média</h1>
    <form>
        <div class="form-group">
            <label class="form-label">Nota AC1</label>
            <input type="number" class="form-control" name="ac1" [(ngModel)]="ac1" required>
        </div>
        <div class="form-group">
            <label class="form-label">Nota AC2</label>
            <input type="number" class="form-control" name="ac2" [(ngModel)]="ac2" required>
        </div>
        <div class="form-group">
            <label class="form-label">Nota AG</label>
            <input type="number" class="form-control" name="ag" [(ngModel)]="ag" required>
        </div>
        <div class="form-group">
            <label class="form-label">Nota AF</label>
            <input type="number" class="form-control" name="af" [(ngModel)]="af" required>
        </div>

        <div class="text-center" *ngIf="media !== undefined">
            A sua nota é {{media}}, o aluno está
            {{ac1}}
            {{ac2}}
            {{ag}}
            {{af}}
            <!-- {{media < 5 ? "reprovado" : "aprovado" }}  -->
            <!-- <span *ngIf="media < 5" style="color: red;">reprovado</span>
            <span *ngIf="media >= 5" style="color: green;">aprovado</span> -->
            <span [style.color]="(media < 5) ? 'red': 'green'">
                {{media < 5 ? "reprovado" : "aprovado" }} </span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary" (click)="calcularMedia()">Calcular</button>
            <button type="submit" class="btn btn-secundary" (click)="clean()">Limpar</button>
        </div>





    </form>
</div>