#Add-func{
    display: flex;
    justify-content: end;
}
.btn{
    margin-right: 4px;
}
/* #edit{
    padding-bottom: 0.75rem;

} */
img, svg {
    vertical-align: 0;
}
#title{
    margin-bottom: 20px;
    margin-left: 10px;
}