<!-- <p>client-list works!</p> -->
<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Cliente1</td>
                <td>client1email.com</td>
                <td>
                    <div>
                        <button>Editar</button>
                        <button>Deletar</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Cliente2</td>
                <td>client2email.com</td>
                <td>
                    <div>
                        <button>Editar</button>
                        <button>Deletar</button>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
</div>