<div>
    <h1>Adiionar Usuário</h1>
    <div>
        <!-- add forms -->
        <form>
            <div class="form-outline mb-4">
                <label class="form-label" for="form3Example1cg">Nome Completo</label>
                <input type="text" formControlName="name" class="form-control form-control-lg">

                <!-- ERROR -->
                <!-- <div *ngIf="signupForm.get('name')?.invalid && (signupForm.get('name')?.dirty || signupForm.get('name')?.touched)">
                  <div class="text-danger">Nome é obrigatório</div>
                </div> -->
                <!-- ERROR -->

              </div>
        </form>
    </div>
</div>